.jumbotron.hero {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: top !important;
  background-attachment: fixed;
  /* filter: blur(2px) !important; */
  width: 100%;
  height: 300px;
}

.detail {
  box-shadow: 2px 3px 7px rgba(0, 0, 0, .23);
}