.chip {
  border-radius: 2rem !important;
  margin-right: .5em;
  font-size: .9rem !important;
  /* padding-right: 1.3em !important; */
  display: flex;
  justify-content: space-between;
  padding: .2rem 1rem;
  margin-bottom: .5em;
  color: #fff;
  text-align: center;
}

.chip div {
  width: 100%;
  display: inline-block;
}

.chip > span {
  margin-left: .5em;
  font-size: 1rem !important;
}

.grey {
  background-color: grey !important;
  border-color: grey !important;
}